@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-container: var(--container);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

:root {
  --background: oklch(0.17 0 0);
  --container: oklch(0.19 0 0);
  --foreground: oklch(0.97 0 0);
  --border: oklch(1 0 0 / 10%);
  --accent: oklch(0.269 0 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border font-figtree;
  }
  body {
    @apply bg-background text-foreground;
  }
  nav {
    @apply sticky w-full h-16;
  }
  #layout-outlet {
    @apply flex flex-col mx-auto my-8 w-full max-w-screen min-h-svh items-center;
  }
  Button {
    @apply cursor-pointer bg-accent px-4 py-2 rounded-lg hover:bg-accent/80 transition-all;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  sub {
    @apply text-lg text-foreground/70;
  }
}

@layer utilities {
  .max-container {
    @apply mx-auto w-full px-4 items-start transition-all;
  }

  .rounded-accent-container {
    @apply px-2 py-1 flex-auto hover:scale-105 transition-all flex items-center rounded-2xl bg-accent;
  }

  .flexCenter {
    @apply flex flex-col items-center justify-center;
  }

  .dash-block {
    @apply w-full bg-container p-4 max-w-xl border rounded-lg flex flex-col gap-4;
  }
}

@layer components {
  .nav-button-current {
    @apply transition-all duration-300 ease-in-out cursor-default;
  }

  .nav-button {
    @apply transition-all duration-300 ease-in-out opacity-50 hover:opacity-100;
  }

  .social-button {
    @apply bg-accent px-4 py-2 flex items-center hover:border hover:bg-accent/80 hover:scale-103 transition-all justify-center w-full rounded-lg gap-2 text-lg;
  }
}
