@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-container: var(--container);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-mudkip: var(--mudkip);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

:root {
  --background: oklch(0.17 0 0);
  --container: oklch(0.19 0 0);
  --foreground: oklch(0.97 0 0);
  --foreground-muted: oklch(0.8 0 0);
  --mudkip: oklch(0.6885 0.1237 237.82);
  --border: oklch(1 0 0 / 10%);
  --accent: oklch(0.269 0 0);

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border font-figtree;
  }
  body {
    @apply bg-background text-foreground;
  }
  nav {
    @apply sticky w-full h-16;
  }
  #layout-outlet {
    @apply flex flex-col mx-auto w-full max-w-screen min-h-svh items-center;
  }
  button {
    @apply cursor-pointer bg-accent px-4 py-2 rounded-lg hover:bg-accent/80 transition-all;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  sub {
    @apply text-lg text-foreground-muted;
  }

  footer {
    @apply w-full px-4 my-12 items-center justify-center;
  }
}

@utility max-container {
  @apply mx-auto w-full px-4 items-start transition-all;
}

@utility rounded-accent-container {
  @apply px-4 py-1 flex-auto hover:scale-105 transition-all flex items-center rounded-2xl bg-accent;
}

@utility flexCol {
  @apply flex flex-col;
}

@utility flexCenter {
  @apply flex flex-col items-center justify-center;
}

@utility dashboard-card {
  @apply w-full bg-container p-4 max-w-2xl lg:max-w-xl border rounded-lg;
}

@layer components {
  .dashboard {
    @apply flex flex-col 2xl:flex-row gap-4 items-start;
  }
  .nav-button-current {
    @apply transition-all duration-300 ease-in-out cursor-default;
  }

  .nav-button {
    @apply transition-all duration-300 ease-in-out opacity-50 hover:opacity-100;
  }

  .social-button {
    @apply bg-accent px-4 py-2 flex items-center hover:border hover:bg-accent/80 hover:scale-103 transition-all justify-center w-full rounded-lg gap-2 lg:text-lg;
  }

  .projects {
    @apply relative flex flex-col gap-8;
  }

  .project-container {
    position: relative;
  }

  .project-image-card {
    @apply rounded-lg overflow-hidden relative cursor-pointer;
  }

  .project-image-card .overlay {
    @apply flex flex-col gap-2 w-full pointer-events-none cursor-pointer absolute -bottom-12 transition-all duration-300 left-0 z-10 p-4;
  }

  .project-image-card .overlay ul {
    @apply flex flex-wrap gap-2;
  }

  .project-image-card .overlay ul li {
    @apply flex gap-2 p-2 border rounded-lg;
  }

  .project-image-card img {
    @apply rounded-lg hover:scale-110 duration-300 transition-all ease-in-out;
  }

  .project-image-card button {
    @apply flex items-center w-fit mt-2 text-[12px] p-1 px-2 bg-foreground text-background;
  }

  .project-image-card .overlay::before {
    top: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    content: "";
    background-color: var(--background);
    width: 100%;
    height: 100%;
    opacity: 70%;
    z-index: -1;
  }

  /* Project details */

  .project-details {
    @apply flex flex-col items-center w-full;
  }

  .project-details-inner {
    @apply flex flex-col items-center gap-12 max-w-5xl w-full px-4 mb-24;
  }

  .project-details-inner .header {
    @apply w-full bg-container p-4 border rounded-lg flex flex-col gap-2;
  }

  .project-details-inner .header .tech-list {
    @apply flex gap-2 flex-wrap;
  }
  .project-details-inner .header .tech-list li {
    @apply text-sm bg-accent px-2 rounded-xl;
  }

  .project-details-inner .header button {
    @apply flex items-center gap-2;
  }

  .project-details-inner .description {
    @apply flexCol gap-4 w-full;
  }

  .project-details-inner .description .hero p {
    @apply mt-2;
  }

  .project-details-inner .description .features h2 {
    @apply mb-2;
  }

  .project-details .images {
    @apply px-4 bg-accent w-full flexCenter py-[6rem];
  }

  .project-details .images-inner {
    @apply flexCenter max-w-5xl;
  }

  .project-details .images-inner ul {
    @apply flexCenter gap-4;
  }

  .project-details .images-inner li {
    @apply rounded-lg bg-accent;
  }

  .project-details .images-inner img {
    @apply rounded-lg;
  }
}
