@import "tailwindcss";

@font-face {
  font-family: "Figtree";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-Figtree: "Figtree", sans-serif;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
